#settingsPanel {
  margin: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);

  .section-header {
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .settings-group-content {
    padding-left: 10px;
  }

  calcite-color-picker-swatch {
    cursor: pointer;
  }
}

footer {
  width: 100%;
}
